.products__container{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  @include tablet{
    flex-direction: column;
  };
}
// .products__sidebar,.products__content{
//   border: 1px solid;
// }
.products__sidebar{
  width: 25%;
  @include tablet{
    width:100%;
  };
}
.products__content{
  // flex-grow: 4;
  width: 75%;
  margin-left: 20px;
  @include tablet{
    width:100%;
  };
}
.products__menu-title{
  font-weight: bold;
  margin-bottom: 20px;
}
.products__menu-list{
  margin-bottom: 20px;
}
.products__menu-item{
  a{
    color: #333;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: .8rem;
    border-bottom: 1px solid transparent;
    transition: .2s;
    &:hover{
      // border-bottom: 1px solid red;
      background-color: #d9d9d9;
    }
  }
}
.products__menu-item.active a {
  font-weight: bold;
}
.products__title-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  a{
    font-size: .8rem;
    font-style: italic;
    color: #333;
    transition: color .2s;
    &:hover{
      color:#9f9f9f;
    }
  }

  @include mobile{
    flex-direction: column;
  }

}

.price-block__buttons{
  display: flex;
  width: 50%;
  justify-content: space-between;
  a:last-child{
    color:#333;
  }

  @include mini-tablet{
    flex-direction: column;
    .btn{
      margin-bottom: 10px;
      text-align: center;
    }
  };
}
