.alert{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.2rem;
  margin: 10px 0;
  font-style: italic;
}
.alert-success{
  background: #43d994;
  color: green;
}
.alert-danger{
  background: #333;
  color: red;
}
