.card-mini__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-mini{
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 20%;
  background: #fff;
  border: 1px solid #333;
  border-radius: 3px;
}
.card-mini__img-wrapper{
  width: 50%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  img{
    height: auto;
    width: 100%;
  }
}
.card-mini__content{
  flex-grow: 1;
  text-align: center;
  padding: 10px 0;
}
.card-mini__title{
  height: 50px;
  max-width: 100px;
  overflow: hidden;
  a{
    color:#333;
  }
}
.card-mini__price{
  margin-top: 10px;
  font-size: .8rem;
}

@include laptop{
  .card-mini__container{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-mini{
    width: 30%;
    margin-bottom: 10px;
  }
}

@include mini-tablet{
  .card-mini{
    width: 45%;
  }
}

@include mobile{
  .card-mini__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-mini{
    width: 90%;
  }
};
