 .search__container{
   form{
     position: relative;
     background-color: #fff;
     padding: 2px 5px;
     border-radius: 2px;
   }
   i{
     position: absolute;
     top: 50%;
     right: 5%;
     transform: translateY(-50%);

   }
   input{
     width:80%;
     border: none;
     outline: none;
   }
 }
